/* alert de confirmaçao */
.confirm-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
  }
  
  .confirm-dialog {
    background: #ffffff;
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    text-align: center;
    width: 350px;
  }
  
  .confirm-dialog h3 {
    margin-bottom: 10px;
    color: var(--cor-principal);
  }
  
  .confirm-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  .btn-nao,.btn-sim{
    font-weight: 500;
  }
  
  .btn-sim {
    background: #ff0000;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 8px;
    cursor: pointer;
  }
  .btn-sim:hover {
    background: linear-gradient(135deg, #ff2828, #ff1515);
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  }
  
  .btn-nao {
    background: #707070;
    border: none;
    color: #ffffff;
    padding: 8px 20px;
    border-radius: 8px;
    cursor: pointer;
  }
  .btn-nao:hover {
    background: linear-gradient(135deg, #857979, #707070);
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  }
  /* fim do alert de confirmaçao */