.page-links{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
    background-color: #ffff;

}

.button-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    background-color: 
#dedcdc;
    border: none;
    justify-content: space-around;
    margin: 2%;
    padding: 20px;
    min-height: 120px;
    gap: 10px;
    cursor: pointer;
    font-size: 1.02rem;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    border-bottom: 2px solid rgb(119, 119, 119);
}

.page-links a{
    text-decoration: none;
    color: inherit;
}

.link-icon{
    background-color: transparent;
    color: 
#696969;
    height: 100%;
    width: 100%;
}
.button-icon{
    width: 20%;
}
.button-link:hover{
    background-color: 
#c2c2c2;
}

.logout-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px 12px;
    background-color: 
#f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.logout-btn:hover {
    background-color: 
#d32f2f;
}

.logout-btn svg {
    width: 16px;
    height: 16px;
}