label, select, button {
    font-size: 1rem;
  }
  table {
    border-collapse: collapse;
    width: 90%;
    margin-top: 20px;
  }
  th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }
  th {
    background-color: #7777774d;
  }
  tr:hover {
    background-color: #e9e9e9;
  }
  .btn-relatorio {
    padding: 4px 8px;
    background-color: #ca2424;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .btn-relatorio:hover {
    background-color: #961e1e;
  }