p {
    font-weight: bold;
}

.user-box{

    display: flex;
    width: 100%;
    height: 100%;
    align-items: start;
}

.user-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

#userForm{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
    height: 50%;
    width: 60%;
}

.user-input{
    background-color: #e6e6e6;
    border: none;
    border-bottom: #686868 solid 1px;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #111111;
    cursor: pointer;
    font-size: 1rem;
}

.send-button{
    background-color: #970000;
    border: none;
    border-radius: 15px;
    padding: 5px;
    width: 20%;
    color: #ffff;
    cursor: pointer;
    font-size: 1rem;
}
.send-button:hover{
    background-color: #7f0000;
}
.send-button a {
    all: unset;
}
  