
.password-field-wrapper {
    position: relative; 
    width: 100%; 
    display: flex; 
    align-items: center; 
}

  .password-field-wrapper .password-toggle-input {
    width: 100%; 
  }
  
  
  .password-toggle-icon {
    position: absolute;
    right: 10px; 
    top: 50%; 
    transform: translateY(-50%); 
    cursor: pointer;
    color: #888; 
    display: flex; 
    align-items: center;
    justify-content: center;
    z-index: 10; 
  }
  
  .password-toggle-icon svg {
    width: 20px; 
    height: 20px;
    display: block; 
  }
  

  .password-toggle-icon .hidden {
    display: none;
  }