<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esqueci a Senha - SGPI</title>
    
    <link rel="shortcut icon" href="./imagens/favicon-32x32.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/login-singup.css">
    <link rel="stylesheet" href="/css/alerts.css"> 
</head>

<body>
    <div class="container">
        
        <div class="header-content">
            <div class="wrapper">
                <img src="./imagens/logo-sgpi.png" alt="logo do SGPI" class="logo-image">
                <h1>SGPI</h1>
            </div>
            <p class="system-name">Sistema Gerenciador de<br>Projetos Interdisciplinares</p>
        </div>

        <div class="login-box">
            
            <div class="greeting">
                <p>Esqueceu a senha?</p>
                <p class="greeting-paragraph">Não se preocupe! Insira seu e-mail institucional para receber o link de redefinição.</p>
            </div>

            <div class="login-info">
                <form id="userForm" class="login-info">  
                    
                    <div class="login-form">
                        <label for="username">E-mail institucional</label>
                        <input type="email" id="username" name="username" placeholder="Digite seu e-mail aqui" class="login-input" required>
                        <span id="emailError"></span>  
                    </div>

                    <div class="login-actions alert">
                        <span id="formError"></span>
                        <button type="submit" class="login-button">Enviar Link</button>  
                    </div>
                </form>

                <div class="register-section">
                    <p class="greeting-paragraph">Lembrou sua senha? <a href="/index">Voltar para Login</a></p>
                </div>
            </div>
        </div>
    </div>
    
    <script type="module" src="./javaScript/front_end/recuperarSenha.js"></script>
    <script src="https://cdn.userway.org/widget.js" data-account="6gTjstshf2"></script>
</body>
</html>