<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esqueci a Senha - SGPI</title>

    <!--__________LINKS AQUI__________-->
    <link rel="stylesheet" href="css/redefine-password.css">
    <link rel="stylesheet" href="css/login-singup.css">
    

    <link rel="stylesheet" href="/css/alerts.css"> 
    <link rel="shortcut icon" href="/imagens/favicon-32x32.png" type="image/x-icon">
    <!--______________________________-->

</head>

<header>
    <div class="header-content"> <!--Todo conteúdo da HEADER está dentro de uma div-->
        <div class="wrapper">
            <img src="./imagens/logo-sgpi.png" alt="" class="logo-image">
            <h1>SGPI</h1>
            </div>
            
    </div>
</header>

<body>
    <div class="container"> <!--Div container para facilitar configurações globais-->
        <div class="user-box"> <!--Div que abriga todo espaço de login-->
            <div class="user-info"> <!--Div contendo todas as informações de login-->
                <p>Esqueceu a senha? Não se preocupe!</p>
                <form id="userForm" class="user-info">  
                    
                    <div class="user">
                        <p>Insira seu e-mail institucional para receber o link de redefinição</p>
                        <label for="email">E-mail institucional</label>
                        <input type="email" id="username" name="username" placeholder="Digite aqui" class="user-input" required>
                        <span id="emailError"></span>  
                    </div>

                    <button type="submit" class="send-button">Enviar</button>  
                </form>
            </div>
        </div>

    </div>
    
    
    <script type="module" src="./javaScript/front_end/recuperarSenha.js"></script>
    <script src="https://cdn.userway.org/widget.js" data-account="6gTjstshf2"></script>
    
</body>
</html>