<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinição de Senha - SGPI</title>

    <!--__________LINKS AQUI__________-->
    <link rel="stylesheet" href="css/redefine-password.css">
    <link rel="stylesheet" href="css/login-singup.css">
    

    <link rel="stylesheet" href="./css/alerts.css"> 
    <link rel="shortcut icon" href="./imagens/favicon-32x32.png" type="image/x-icon">
    <!--______________________________-->

</head>

<header>
    <div class="header-content"> <!--Todo conteúdo da HEADER está dentro de uma div-->
        <div class="wrapper">
            <img src="./imagens/logo-sgpi.png" alt="" class="logo-image">
            <h1>SGPI</h1>
            </div>
            
    </div>
</header>

<body>
    <div class="container"> <!--Div container para facilitar configurações globais-->
        <div class="user-box"> <!--Div que abriga todo espaço de login-->
            <div class="user-info"> <!--Div contendo todas as informações de login-->
                <p>Redefinição de senha</p>
                <form id="resetForm" class="user-info">  
                    
                    <div class="user">
                        <p>Escolha uma nova senha</p>
                        <label for="new-password">Nova Senha</label>
                        <input type="password" id="new-password" placeholder="Digite aqui" class="user-input" required>
                        <span id="passwordError"></span>

                        <label for="confirm-password">Confirme a Senha</label>
                        <input type="password" id="confirm-password" placeholder="Digite aqui" class="user-input" required>
                        <span id="confirmError"></span>
                    </div>

                    <button type="submit" class="send-button">Confirmar nova senha</button>  
                </form>
            </div>
        </div>

    </div>
    
    
    <script type="module" src="./javaScript/front_end/recuperarSenha.js"></script>
    <script src="https://cdn.userway.org/widget.js" data-account="6gTjstshf2"></script>
</body>
</html>