<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>

    <!--__________LINKS AQUI__________-->
    <link rel="stylesheet" href="./css/signup.css">
    <link rel="stylesheet" href="./css/alerts.css">
    <link rel="stylesheet" href="css/dark-mode.css">
    <link rel="shortcut icon" href="./imagens/favicon-32x32.png" type="image/x-icon">
    <!--______________________________-->

</head>

<header>
    <div class="header-content"> <!--Todo conteúdo da HEADER está dentro de uma div-->
        <div class="wrapper">
        <img src="./imagens/logo-sgpi.png" alt="" class="logo-image">
        <h1>SGPI</h1>
        </div>
        
    </div>
</header>

<body>
    <body>
        <div class="container"> <!--Div container para facilitar configurações globais-->
            <div class="signup-box"> <!--Div que abriga todo espaço de cadastro-->
                <form class="signup-info"> <!-- Formulário de cadastro -->
                    <div class="signup-form">
                        <label for="nome">Nome</label>
                        <input type="text" id="nome" name="nome" placeholder="Digite aqui" class="signup-input" required autocomplete="off">
                    </div>
                
                    <div class="signup-form">
                        <label for="email">E-mail institucional</label>
                        <input type="email" id="email" name="email" placeholder="Digite aqui" class="signup-input" required autocomplete="off">
                        <span id="emailError"></span> 
                    </div>
                
                    <div class="signup-form">
                        <label>Perfil</label>
                        <div>
                            <input type="radio" id="perfilAluno" name="perfil" value="aluno" required>
                            <label for="perfilAluno">Aluno</label>
                    
                            <input type="radio" id="perfilProfessor" name="perfil" value="professor">
                            <label for="perfilProfessor">Professor</label>
                        </div>
                    </div>
                    
                    <!-- Campos que mudam conforme perfil -->
                    <div class="signup-form" id="materiasBox">
                        <label>Matérias</label>
                        <div class="materias-list">
                            <label><input type="checkbox" name="materias" value="design digital"> Design Digital</label>
                            <label><input type="checkbox" name="materias" value="desenvolvimento web I"> Desenvolvimento Web I</label>
                            <label><input type="checkbox" name="materias" value="desenvolvimento web II"> Desenvolvimento Web II</label>
                            <label><input type="checkbox" name="materias" value="desenvolvimento web III"> Desenvolvimento Web III</label>
                            <label><input type="checkbox" name="materias" value="engenharia de software I"> Engenharia de Software I</label>
                            <label><input type="checkbox" name="materias" value="engenharia de software II"> Engenharia de Software II</label>
                            <label><input type="checkbox" name="materias" value="banco de dados relacional"> Banco de Dados Relacional</label>
                            <label><input type="checkbox" name="materias" value="banco de dados não relacional"> Banco de Dados Não Relacional</label>
                            <label><input type="checkbox" name="materias" value="interação humano computador"> Interação Humano Computador</label>
                            <label><input type="checkbox" name="materias" value="gestao agil de projetos de software"> Gestão Ágil de Projetos de Software</label>
                            <label><input type="checkbox" name="materias" value="laboratorio de desenvolvimento web"> Laboratório de Desenvolvimento Web</label>
                            <label><input type="checkbox" name="materias" value="experiencia do usuario"> Experiência do Usuário</label>
                            <label><input type="checkbox" name="materias" value="programação para dispositivos moveis II"> Programação para Dispositivos Móveis II</label>
                            <label><input type="checkbox" name="materias" value="laboratorio de desenvolvimento mobile"> Laboratório de Desenvolvimento Mobile</label>
                            <label><input type="checkbox" name="materias" value="qualidade e testes de software"> Qualidade e Testes de Software</label>
                            <label><input type="checkbox" name="materias" value="laboratorio de desenvolvimento multiplataforma"> Laboratório de Desenvolvimento Multiplataforma</label>
                        </div>
                    </div>
                    
                    
                    <div class="signup-form" id="chaveProfessorBox" style="display:none;">
                        <label for="chaveProfessor">Palavra-chave</label>
                        <input type="text" id="chaveProfessor" name="chaveProfessor" class="signup-input" placeholder="Digite a chave fornecida pelo coordenador" >
                    </div>
                    

                    <div class="signup-form">
                        <label for="senha">Senha</label>
                        <input type="password" id="senha" name="senha" placeholder="Digite aqui" class="signup-input" required autocomplete="new-password">
                    </div>
                
                    <div class="signup-form">
                        <label for="confirmar-senha">Digite a senha novamente</label>
                        <input type="password" id="confirmar-senha" name="confirmar-senha" placeholder="Digite aqui" class="signup-input" required autocomplete="new-password">
                        <span id="passwordError"></span> 
                    </div>
                
                    <div class="signup-actions">
                        
                        <button type="submit" class="signup-button">Cadastrar</button>
                    </div>
                </form>
                
    
            </div>
            <div class="greeting"> <!--Div para dividir o formulário e o banner de boas vindas-->
                <h3>Bem vindo ao Sistema Gerenciador de Projetos Interdisciplinares</h3>
                <br>
                <p class="greeting-paragraph">Já tem uma conta? <a href="./index">Entre aqui</a></p>
    
            </div>
    
        <script src="./javaScript/utils/fetchHelper.js"></script>
        <script src="./javaScript/utils/dark_mode.js" defer></script>
        <script type="module" src="./javaScript/front_end/Cadastro.js"></script>
        <script src="https://cdn.userway.org/widget.js" data-account="6gTjstshf2"></script>
            
</body>
</html>